.cat-carousel-wrapper {
  width: 100%;
  position: relative;

  #kitten-carousel {
    width: 100%;
    display: flex;
    padding: 40px 0;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    transform-style: preserve-3d;

    .slide-card {
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
      min-width: 25%;
      height: 40vh;
      margin: 10px 20px;
      background-color: rgb(255, 255, 255);
      display: flex;
      box-sizing: border-box;
      z-index: 7;
      transition: all 200ms;
      cursor: pointer;
      position: relative;

      &:hover {
        transform: translateY(-4px) scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      }

      img {
        min-width: 100%;
        min-height: 100%;
        transition: all ease 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);

        &:hover {
          transform-style: preserve-3d;
          transform: translate(-50%, -40%);
          filter: brightness(1.2);
        }
      }

      h2 {
        position: absolute;
        width: 100%;
        color: aquamarine;
        top: 40%;
        text-align: center;
        font-size: 40px;
      }

      .card-modal {
         display: none;
         position: relative;

        .udomi-carusel{
          color: green;
          justify-content: center;
          border-radius: 10px;
          margin: 15px;
          background-color: aquamarine;
          cursor: pointer;
        }
      }
    }

    .slide-card {
      &.active,
      &.initial {
        opacity: 1;
        z-index: 9;
        transform: translateX(100%);
      }
    }

    .slide-card.prev {
      z-index: 8;
      transform: translateX(-100%);
    }
  }

  .button--next,
  .button--prev {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    border: 1px solid rgb(189, 189, 189);
  }

  .button--prev {
    left: 0;
  }

  .button--next {
    right: 0;
  }

  .button--next::after,
  .button--prev::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid rgb(90, 90, 90);
    border-bottom: 2px solid rgb(90, 90, 90);
    transform: translate(-50%, -50%) rotate(135deg);
  }

  .button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
